// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.fa-map-marker g g path {
  stroke: black;
  stroke-width: 10;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

html, body {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 80px;
  .navbar {
    padding: 0rem 1rem;
    text-transform: uppercase;
    .navbar-nav {
      padding-top: 1rem;
    }
    .navbar-toggler {
      border: 0;
      &:focus {
        outline: none;
      }
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
      &[aria-expanded=true] {
        & + .navbar-collapse {
          transform: translate3d(0, 0, 0);
        }
        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7.222,7.222 L22.778,22.778 M7.222,22.778 L22.778,7.222' /%3E%3C/svg%3E");
        }
      }
    }

    .navbar-collapse {
      position: fixed;
      right: 0;
      top: 80px;
      bottom: 0;
      width: 200px;
      background: #fff;
      transition: transform .3s !important;
      display: block;
      transform: translate3d(100%, 0, 0);
      &.collapsing {
        height: auto !important;
      }
      a {
        color: #ff512f !important;
      }
      a:hover {
        color: #f09819 !important;
      }
    }
  }
  nav {
    background: -moz-linear-gradient(-45deg, #f09819 0%, #ff512f 100%);
    background: -webkit-linear-gradient(-45deg, #f09819 0%, #ff512f 100%);
    background: linear-gradient(135deg, #f09819 0%, #ff512f 100%);
  }
  .compare {
    font-size: .875rem;
    color: #fff;
    margin-top: .5rem;
    display: block;
    text-align: center
  }
  .form {
    margin-bottom: 1rem;
  }
  .select2-container--default {
    z-index: 1;
  }
}

.select2-container--default .select2-selection--single, .select2-dropdown {
  border: 0;
  border-radius: .25rem;
}

a {
  color: #33A1FD;
  img, svg {
    opacity: 1;
  }
  &:hover {
    img, svg {
      opacity: .75;
    }
  }
}

img, svg {
  max-width: 100%;
}

.loading {
  body {
    &:before, &:after {
      content: '';
      position: fixed;
      top: 50%;
      left: 50%;
      width: 3rem;
      height: 3rem;
      margin: -1.5rem 0 0 -1.5rem;
      border-radius: 50%;
      background: rgba(#000, .2);
      animation: loading 2.0s infinite ease-in-out;
    }
    &:after {
      animation-delay: -1.0s;
    }
  }
  main {
    opacity: .05;
  }
}

main {
  transition: opacity .5s linear;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .list-none{
    list-style:none;

    li{
      margin: 4px 0;

      i{
        margin-right: 5px;
      }
    }
  }
  #map {
    .map-marker {
      font-size: 30px;

      &.active {
        font-size: 50px;
      }

      &.status-0 {
        color: black;
      }

      &.status-1 {
        color: black;
      }

      &.status-2 {
        color: black;
      }

      &.status-3 {
        color: #ce773c;
      }

      &.status-4 {
        color: #ce773c;
      }

      &.status-5 {
        color: #ef4836;
      }

      &.status-6 {
        color: black;
      }

      &.status-7 {
        color: #58abe3;
      }

      &.status-8 {
        color: #86d37c;
      }

      &.status-9 {
        color: #a1ded0;
      }

      &.status-10 {
        color: #7e8c8d;
      }

      &.status-12 {
        color: #7e8c8d;
      }
    }
  }
  .sidebar {
    display:none;
    flex-direction: column;
    order: 1;
    width: 100%;
    background: #f5f5f5;
    flex-basis: 100%;

    &.active {
      display: block;
    }

    .row {
      margin: 0;
    }
  }

  .card {
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0;
    background: white;
    //overflow: hidden;
    .table {
      margin-top: 1rem;
    }

    &.stats{
      margin-bottom: 2rem;
    }
  }

  .extra{
    display:none;

    &.active{
      display:flex;
    }
  }


  h1,h2,h3,h4 {
    font-weight: 300;
    text-transform: uppercase;
    color: #ff512f
  }
  h6 {
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 400;
  }
  .data-source {
    font-size: .75rem;
    color: #888
  }
  .share-icon {
    color: #888;
    &:hover {
      color: #007bff
    }
  }
  .fire-status {
    margin: 0 0 1rem 0;
    color: #fff;
    text-transform: uppercase;
    li {
      padding: 10px 6px;
      border-radius: 3px;
      transition: width .3s;
      &:not(:first-child) {
        margin-left: 2px;
      }
      &.status-max {
        background-color: $status-max
      }
      &.status-vhigh {
        background-color: $status-vhigh
      }
      &.status-high {
        background-color: $status-high
      }
      &.status-mod {
        //color: darken($status-mod, 30);
        background-color: $status-mod
      }
      &.status-min {
        background-color: $status-min
      }
      &.active {
        width: 100%;
        &:before {
          content: attr(data-status);
        }
      }
    }
  }
  .assets {
    padding-bottom: .5rem;
    .assets-icon {
      height: 55px;
      margin-right: .5rem;
      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
    .assets-nr {
      font-size: 1.9rem;
      color: #333;
      font-weight: 400;
    }
  }
  .link-list {
    margin: 1rem 0 2rem 0;
    li {
      margin-bottom: .875rem;
      font-size: .9375rem;
      a {
        color: #333
      }
    }
  }
  #data-meteo {
    ul.meteo-info {
      text-transform: uppercase;
      font-size: .75rem;
      color: #555;
      margin: 1rem 0 0 0;
      & ul {
        list-style: none;
        margin: .5rem 0;
        padding-left: 1rem;
      }
    }
    .current-icon {
      margin-right: 1rem;
      fill: #f09819;
    }
    .current-temp {
      font-size: 3.5rem;
      font-weight: 300;
      line-height: 1.1;
      span {
        font-size: 2rem;
        color: #666;
      }
    }
    .forecast-temp {
      font-size: .75rem;
      text-transform: uppercase;
      .min {
        color: #2F97C1;
        padding-right: .5rem;
      }
      .max {
        color: #DD2727
      }
    }
    .meteo-desc {
      text-align: center;
      margin-top: .5rem;
      font-size: .75rem;
      color: #666;
    }
  }
  #map {
    min-height: 19rem;
  }
  #data-social-media iframe {
    width: 100% !important;
    padding: 0 10px 10px !important;
  }
}

.not-found main {
  padding: 0;
  .row {
    height: 100vh;
  }
}

@keyframes loading {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #header .form {
    margin-bottom: 0;
  }
  main {
    flex-direction: column;

    .sidebar {
      background: #f5f5f5;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  main {
    height: 100%;
    margin-top: 0;
    .sidebar {
      background: #f5f5f5;
    }
    .assets {
      .assets-nr {
        font-size: 2.9rem;
        color: #333;
        font-weight: 300;
      }
    }

    .card {
      margin-bottom: .5rem;
    }
    //.fire-status {
    //  margin-bottom: 2rem;
    //  [data-status] {
    //    display: flex;
    //  }
    //}
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  main {
    flex-direction: row;
    margin-top: 0;

    .sidebar {
      order: 0;
      flex-basis: 40%;
      height: 100%;
      background: #f5f5f5;
      overflow-y: scroll;
    }

    #map {
      position: absolute;
      top: 80px;
      right: 0;
      bottom: 0;
      width: 100%;
      transition: width .3s;
      min-height: 0;
    }

    .sidebar.active + #map {
      width: 60%;
    }
  }
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  main {
    .sidebar {
      flex-basis: 33.33%;
    }
    .sidebar.active + #map {
      width: 66.66%;
    }
  }

}

#map {
  width: 100%;
  height: 100%;
}

.marker {
  background-size: cover;
  width: 20px;
  height: 30px;
  cursor: pointer;

  &.FF0000 {
    background-image: url('https://fogos.pt/assets/images/markers/FF0000.png');
  }

  &.FF9900 {
    background-image: url('https://fogos.pt/assets/images/markers/FF9900.png');
  }

  &.CE773C {
    background-image: url('https://fogos.pt/assets/images/markers/CE773C.png');
  }

  &.87D37C {
    background-image: url('https://fogos.pt/assets/images/markers/66FF33.png');
  }
}

//.fire-status {
//  background: #e4e4e4;
//  margin: 0 0 1rem 0;
//  border-radius: .25rem;
//  overflow: hidden;
//}
//.fire-status > * {
//  padding-top: 10px;
//  padding-bottom: 10px;
//  display: none;
//  align-items: center;
//  justify-content: center;
//}
//.fire-status .show {
//  display: flex;
//}
//.fire-status .status-max.active {
//  color: #fff;
//  background-color: #6f263d;
//  display: flex;
//}
//.fire-status .status-vhigh.active {
//  color: #fff;
//  background-color: #cb333b;
//  display: flex;
//}
//.fire-status .status-high.active {
//  color: #fff;
//  background-color: #e87722;
//  display: flex;
//}
//.fire-status .status-mod.active {
//  color: #665d00;
//  background-color: #ffe900;
//  display: flex;
//}
//.fire-status .status-min.active {
//  color: #fff;
//  background-color: #509e2f;
//  display: flex;
//}

.timeline {
  position: relative;
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 1)), color-stop(100%, rgba(125, 185, 232, 1)));
  background: -webkit-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -o-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: -ms-linear-gradient(top, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, rgb(80, 80, 80) 8%, rgb(80, 80, 80) 92%, rgba(80, 80, 80, 0) 100%);

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 211px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 211px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -20px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #f96e5b;
  z-index: 10;
}

.direction-r .flag:before {
  left: -20px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 12px;
  color: #f96e5b;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: block;
  /*Trying to correct coordinates*/

  position:absolute; /*it can be fixed too*/
  margin: 0 auto;

  overflow:auto;

  background: no-repeat center / 60%;
  &.status-important {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-vividRed;
  }
  // inicio
  &.status-99 {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-yellow;
  }
  // despacho
  &.status-3 {
    background-image: url('/img/ico_alarm.svg');
    background-color: $c-red;
  }
  // despacho de 1_o_ alerta
  &.status-4 {
    background-image: url('/img/ico_alarm.svg');
    background-color: $c-orange;
  }
  // em curso
  &.status-5 {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-orange;
  }
  // chegada ao t0
  &.status-6 {
    background-image: url('/img/ico_pointer.svg');
    background-color: $c-red;
  }
  // em resolucao
  &.status-7 {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-red;
  }

/*  // conclusao
  &.status-8 {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-yellow;
  }
*/
  // conclusao
  &.status-8 {
    background-image: url('/img/ico_fire.svg');
    background-color: $c-grayRed;
  }

  // vigilancia
  &.status-9 {
    background-image: url('/img/ico_watch.svg');
    background-color: $c-blue;
  }
  // encerrada
  &.status-10 {
    background-image: url('/img/ico_pointer.svg');
    background-color: $c-green;
  }
  // falso alarme
  &.status-11 {
    background-image: url('/img/ico_fake.svg');
    background-color: $c-grey;
  }
  // falso alerta
  &.status-12 {
    background-image: url('/img/ico_fake.svg');
    background-color: $c-grey;
  }

  &.active{
    height: 48px;
    width: 48px;
  }

  &.timelineDot{
   height: 24px;
  width: 24px;
  border-radius: 50%;
  display: block;
  float: left;
  /*Try correct coordinates*/
  margin-left: -13px;

    position:static;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:visible;
  }


  &.dotInfo{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: block;
    float: left;
    /*Try correct coordinates*/
    margin-left: -13px;

    position:static;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:visible;
  }
}

#status {
  border-left: 2px solid #BDBDBD;
  margin-top: 1rem;
  margin-left: 13px;

  .status-hour {
    margin-left: 15px;
    margin-bottom: 0;
    color: #ff512f;
  }

  .status-label {
    margin-left: 15px;
    margin-bottom: 15px;
  }
}

.notifications {
  display: block !important;

  .auth{
    display:none;
  }

  .custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;

    .custom-control-indicator {
      content: "";
      display: inline-block;
      position: relative;
      width: 30px;
      height: 10px;
      background-color: #818181;
      border-radius: 15px;
      margin-right: 10px;
      -webkit-transition: background .3s ease;
      transition: background .3s ease;
      vertical-align: middle;
      margin: 0 16px;
      box-shadow: none;

      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: #f1f1f1;
        border-radius: 21px;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
        left: -2px;
        top: -4px;
        -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease;
      }
    }

    .custom-control-input:checked ~ .custom-control-indicator {
      background-color: #ff512f;
      background-image: none;
      box-shadow: none !important;
    }

    .custom-control-input:checked ~ .custom-control-indicator:after {
      background-color: #ff512f;
      left: 15px;
    }

    .custom-control-input:focus ~ .custom-control-indicator {
      box-shadow: none !important;
    }
  }
}

.toast-top-right {
  margin-top: 70px !important;
}