@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/* old danger colors
$status-max: #6f263d;
$status-vhigh: #cb333b;
$status-high: #e87722;
$status-mod: #ffe900;
$status-min: #509e2f;
*/

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 80px;
}

header .navbar {
  padding: 0rem 1rem;
  text-transform: uppercase;
}

header .navbar .navbar-nav {
  padding-top: 1rem;
}

header .navbar .navbar-toggler {
  border: 0;
}

header .navbar .navbar-toggler:focus {
  outline: none;
}

header .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

header .navbar .navbar-toggler[aria-expanded=true] + .navbar-collapse {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

header .navbar .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M7.222,7.222 L22.778,22.778 M7.222,22.778 L22.778,7.222' /%3E%3C/svg%3E");
}

header .navbar .navbar-collapse {
  position: fixed;
  right: 0;
  top: 80px;
  bottom: 0;
  width: 200px;
  background: #fff;
  -webkit-transition: -webkit-transform .3s !important;
  transition: -webkit-transform .3s !important;
  transition: transform .3s !important;
  transition: transform .3s, -webkit-transform .3s !important;
  display: block;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}

header .navbar .navbar-collapse.collapsing {
  height: auto !important;
}

header .navbar .navbar-collapse a {
  color: #ff512f !important;
}

header .navbar .navbar-collapse a:hover {
  color: #f09819 !important;
}

header nav {
  background: linear-gradient(135deg, #ff512f 0%, #f09819 100%);
}

header .compare {
  font-size: .875rem;
  color: #fff;
  margin-top: .5rem;
  display: block;
  text-align: center;
}

header .form {
  margin-bottom: 1rem;
}

header .select2-container--default {
  z-index: 1;
}

.select2-container--default .select2-selection--single,
.select2-dropdown {
  border: 0;
  border-radius: .25rem;
}

a {
  color: #33A1FD;
}

a img,
a svg {
  opacity: 1;
}

a:hover img,
a:hover svg {
  opacity: .75;
}

img,
svg {
  max-width: 100%;
}

.loading body:before,
.loading body:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  margin: -1.5rem 0 0 -1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: loading 2.0s infinite ease-in-out;
          animation: loading 2.0s infinite ease-in-out;
}

.loading body:after {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.loading main {
  opacity: .05;
}

main {
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

main #map .map-marker {
  font-size: 30px;
}

main #map .map-marker.active {
  font-size: 50px;
}

main #map .map-marker.status-0 {
  color: black;
}

main #map .map-marker.status-1 {
  color: black;
}

main #map .map-marker.status-2 {
  color: black;
}

main #map .map-marker.status-3 {
  color: #ce773c;
}

main #map .map-marker.status-4 {
  color: #ce773c;
}

main #map .map-marker.status-5 {
  color: #ef4836;
}

main #map .map-marker.status-6 {
  color: black;
}

main #map .map-marker.status-7 {
  color: #58abe3;
}

main #map .map-marker.status-8 {
  color: #86d37c;
}

main #map .map-marker.status-9 {
  color: #a1ded0;
}

main #map .map-marker.status-10 {
  color: #7e8c8d;
}

main #map .map-marker.status-12 {
  color: #7e8c8d;
}

main .inactive {
  display: none;
}

main .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  background: #f5f5f5;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .sidebar .row {
  margin: 0;
}

main .card {
  margin-bottom: 1rem;
  border: 0;
  border-radius: 0;
  background: white;
}

main .card .table {
  margin-top: 1rem;
}

main h4 {
  font-weight: 300;
  text-transform: uppercase;
  color: #ff512f;
}

main h6 {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 400;
}

main .data-source {
  font-size: .75rem;
  color: #888;
}

main .share-icon {
  color: #888;
}

main .share-icon:hover {
  color: #007bff;
}

main .fire-status {
  margin: 0 0 1rem 0;
  color: #fff;
  text-transform: uppercase;
}

main .fire-status li {
  padding: 10px 6px;
  border-radius: 3px;
  -webkit-transition: width .3s;
  transition: width .3s;
}

main .fire-status li:not(:first-child) {
  margin-left: 2px;
}

main .fire-status li.status-max {
  background-color: #711313;
}

main .fire-status li.status-vhigh {
  background-color: #B81E1F;
}

main .fire-status li.status-high {
  background-color: #FF6E02;
}

main .fire-status li.status-mod {
  background-color: #FFB202;
}

main .fire-status li.status-min {
  background-color: #6ABF59;
}

main .fire-status li.active {
  width: 100%;
}

main .fire-status li.active:before {
  content: attr(data-status);
}

main .assets {
  padding-bottom: .5rem;
}

main .assets .assets-icon {
  height: 55px;
  margin-right: .5rem;
}

main .assets .assets-icon:not(:first-child) {
  margin-left: 1.5rem;
}

main .assets .assets-nr {
  font-size: 1.9rem;
  color: #333;
  font-weight: 400;
}

main .link-list {
  margin: 1rem 0 2rem 0;
}

main .link-list li {
  margin-bottom: .875rem;
  font-size: .9375rem;
}

main .link-list li a {
  color: #333;
}

main #data-meteo ul.meteo-info {
  text-transform: uppercase;
  font-size: .75rem;
  color: #555;
  margin: 1rem 0 0 0;
}

main #data-meteo ul.meteo-info ul {
  list-style: none;
  margin: .5rem 0;
  padding-left: 1rem;
}

main #data-meteo .current-icon {
  margin-right: 1rem;
  fill: #f09819;
}

main #data-meteo .current-temp {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

main #data-meteo .current-temp span {
  font-size: 2rem;
  color: #666;
}

main #data-meteo .forecast-temp {
  font-size: .75rem;
  text-transform: uppercase;
}

main #data-meteo .forecast-temp .min {
  color: #2F97C1;
  padding-right: .5rem;
}

main #data-meteo .forecast-temp .max {
  color: #DD2727;
}

main #data-meteo .meteo-desc {
  text-align: center;
  margin-top: .5rem;
  font-size: .75rem;
  color: #666;
}

main #map {
  min-height: 19rem;
}

main #data-social-media iframe {
  width: 100% !important;
  padding: 0 10px 10px !important;
}

.not-found main {
  padding: 0;
}

.not-found main .row {
  height: 100vh;
}

@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 576px) {
  #header .form {
    margin-bottom: 0;
  }

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main .sidebar {
    background: #f5f5f5;
  }
}

@media (min-width: 768px) {
  main {
    height: 100%;
    margin-top: 0;
  }

  main .sidebar {
    background: #f5f5f5;
  }

  main .assets .assets-nr {
    font-size: 2.9rem;
    color: #333;
    font-weight: 300;
  }

  main .card {
    margin-bottom: .5rem;
  }
}

@media (min-width: 992px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 0;
  }

  main .sidebar {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    height: 100%;
    background: #f5f5f5;
    overflow-y: scroll;
  }

  main #map {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 100%;
    -webkit-transition: width .3s;
    transition: width .3s;
    min-height: 0;
  }

  main .sidebar.active + #map {
    width: 60%;
  }
}

@media (min-width: 1200px) {
  main .sidebar {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }

  main .sidebar.active + #map {
    width: 66.66%;
  }
}

#map {
  width: 100%;
}

.marker {
  background-size: cover;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.marker.FF0000 {
  background-image: url("https://fogos.pt/assets/images/markers/FF0000.png");
}

.marker.FF9900 {
  background-image: url("https://fogos.pt/assets/images/markers/FF9900.png");
}

.marker.CE773C {
  background-image: url("https://fogos.pt/assets/images/markers/CE773C.png");
}

.marker.87D37C {
  background-image: url("https://fogos.pt/assets/images/markers/66FF33.png");
}

.timeline {
  position: relative;
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0)), color-stop(8%, #505050), color-stop(92%, #505050), to(rgba(80, 80, 80, 0)));
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 211px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 211px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -20px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #f96e5b;
  z-index: 10;
}

.direction-r .flag:before {
  left: -20px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 12px;
  color: #f96e5b;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

.dot {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: block;
  float: left;
  margin-left: -13px;
  background: no-repeat center / 60%;
}

.dot.status-99 {
  background-image: url("/img/ico_fire.svg");
  background-color: #711313;
}

.dot.status-3 {
  background-image: url("/img/ico_alarm.svg");
  background-color: #B81E1F;
}

.dot.status-4 {
  background-image: url("/img/ico_alarm.svg");
  background-color: #FF6E02;
}

.dot.status-5 {
  background-image: url("/img/ico_fire.svg");
  background-color: #B81E1F;
}

.dot.status-6 {
  background-image: url("/img/ico_pointer.svg");
  background-color: #B81E1F;
}

.dot.status-7 {
  background-image: url("/img/ico_fire.svg");
  background-color: #FF6E02;
}

.dot.status-8 {
  background-image: url("/img/ico_fire.svg");
  background-color: #FFB202;
}

.dot.status-9 {
  background-image: url("/img/ico_watch.svg");
  background-color: #65C4ED;
}

.dot.status-10 {
  background-image: url("/img/ico_pointer.svg");
  background-color: #6ABF59;
}

.dot.status-11 {
  background-image: url("/img/ico_fake.svg");
  background-color: #BDBDBD;
}

.dot.status-12 {
  background-image: url("/img/ico_fake.svg");
  background-color: #BDBDBD;
}

#status {
  border-left: 2px solid #BDBDBD;
  margin-top: 1rem;
  margin-left: 13px;
}

#status .status-hour {
  margin-left: 15px;
  margin-bottom: 0;
  color: #ff512f;
}

#status .status-label {
  margin-left: 15px;
  margin-bottom: 15px;
}

