@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header .navbar {
  padding: 0rem 1rem;
}

header nav {
  background: linear-gradient(135deg, #ff512f 0%, #f09819 100%);
}

header .compare {
  font-size: .875rem;
  color: #fff;
  margin-top: .5rem;
  display: block;
  text-align: center;
}

header .form {
  margin-bottom: 1rem;
}

header .select2-container--default {
  z-index: 1;
}

.select2-container--default .select2-selection--single,
.select2-dropdown {
  border: 0;
  border-radius: .25rem;
}

a {
  color: #33A1FD;
}

a img,
a svg {
  opacity: 1;
}

a:hover img,
a:hover svg {
  opacity: .75;
}

img,
svg {
  max-width: 100%;
}

.loading body:before,
.loading body:after {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3rem;
  height: 3rem;
  margin: -1.5rem 0 0 -1.5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation: loading 2.0s infinite ease-in-out;
          animation: loading 2.0s infinite ease-in-out;
}

.loading body:after {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.loading main {
  opacity: .05;
}

main {
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  padding: 11.7rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .sidebar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
}

main .card {
  margin-bottom: 1rem;
  border: 1px solid #f5f5f5;
  background: white;
  overflow: hidden;
}

main .card .table {
  margin-top: 1rem;
}

main h4 {
  font-weight: 300;
  text-transform: uppercase;
  color: #ff512f;
}

main h6 {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 400;
}

main .data-source {
  font-size: .75rem;
  color: #888;
}

main .share-icon {
  color: #888;
}

main .share-icon:hover {
  color: #007bff;
}

main .table td,
main .table th {
  border: none;
  text-transform: uppercase;
  font-size: 40px;
  color: #555;
}

main .fire-status {
  background: #e4e4e4;
  margin: 0 0 1rem 0;
  border-radius: .25rem;
  overflow: hidden;
}

main .fire-status > * {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .fire-status .status-max.active {
  color: #fff;
  background-color: #6f263d;
}

main .fire-status .status-vhigh.active {
  color: #fff;
  background-color: #cb333b;
}

main .fire-status .status-high.active {
  color: #fff;
  background-color: #e87722;
}

main .fire-status .status-mod.active {
  color: #665d00;
  background-color: #ffe900;
}

main .fire-status .status-min.active {
  color: #fff;
  background-color: #509e2f;
}

main .fire-status [data-status] {
  display: none;
}

main .fire-status [data-status].active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .link-list {
  margin: 1rem 0 2rem 0;
}

main .link-list li {
  margin-bottom: .875rem;
  font-size: .9375rem;
}

main .link-list li a {
  color: #333;
}

main #data-meteo ul.meteo-info {
  text-transform: uppercase;
  font-size: .75rem;
  color: #555;
  margin: 1rem 0 0 0;
}

main #data-meteo ul.meteo-info ul {
  list-style: none;
  margin: .5rem 0;
  padding-left: 1rem;
}

main #data-meteo .current-icon {
  margin-right: 1rem;
  fill: #f09819;
}

main #data-meteo .current-temp {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;
}

main #data-meteo .current-temp span {
  font-size: 2rem;
  color: #666;
}

main #data-meteo .forecast-temp {
  font-size: .75rem;
  text-transform: uppercase;
}

main #data-meteo .forecast-temp .min {
  color: #2F97C1;
  padding-right: .5rem;
}

main #data-meteo .forecast-temp .max {
  color: #DD2727;
}

main #data-meteo .meteo-desc {
  text-align: center;
  margin-top: .5rem;
  font-size: .75rem;
  color: #666;
}

main #map {
  min-height: 19rem;
}

main #data-social-media iframe {
  width: 100% !important;
  padding: 0 10px 10px !important;
}

.not-found main {
  padding: 0;
}

.not-found main .row {
  height: 100vh;
}

@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 576px) {
  #header .form {
    margin-bottom: 0;
  }

  main {
    padding: 7rem 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main .sidebar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
    width: 100%;
    background: #f5f5f5;
  }
}

@media (min-width: 768px) {
  main {
    padding: 6rem 0 0;
    height: 100%;
  }

  main .sidebar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
    width: 100%;
    background: #f5f5f5;
  }

  main .card {
    margin-bottom: 2rem;
  }

  main .fire-status {
    margin-bottom: 2rem;
  }

  main .fire-status [data-status] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  main .sidebar {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: none;
    width: 520px;
    height: 100%;
    background: #f5f5f5;
    overflow-y: scroll;
  }
}

@media (min-width: 1200px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  main .sidebar {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    display: none;
    width: 620px;
    height: 100%;
    background: #f5f5f5;
    overflow-y: scroll;
  }
}

#map {
  width: 100%;
  height: 100%;
}

.marker {
  background-size: cover;
  width: 20px;
  height: 30px;
  cursor: pointer;
}

.marker.FF0000 {
  background-image: url("https://fogos.pt/assets/images/markers/FF0000.png");
}

.marker.FF9900 {
  background-image: url("https://fogos.pt/assets/images/markers/FF9900.png");
}

.marker.CE773C {
  background-image: url("https://fogos.pt/assets/images/markers/CE773C.png");
}

.marker.87D37C {
  background-image: url("https://fogos.pt/assets/images/markers/66FF33.png");
}

.fire-status {
  background: #e4e4e4;
  margin: 0 0 1rem 0;
  border-radius: .25rem;
  overflow: hidden;
}

.fire-status > * {
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fire-status .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fire-status .status-max.active {
  color: #fff;
  background-color: #6f263d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fire-status .status-vhigh.active {
  color: #fff;
  background-color: #cb333b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fire-status .status-high.active {
  color: #fff;
  background-color: #e87722;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fire-status .status-mod.active {
  color: #665d00;
  background-color: #ffe900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fire-status .status-min.active {
  color: #fff;
  background-color: #509e2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timeline {
  position: relative;
  width: 450px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: #505050;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 80, 80, 0)), color-stop(8%, #505050), color-stop(92%, #505050), to(rgba(80, 80, 80, 0)));
  background: linear-gradient(to bottom, rgba(80, 80, 80, 0) 0%, #505050 8%, #505050 92%, rgba(80, 80, 80, 0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 211px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 211px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -20px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid #f96e5b;
  z-index: 10;
}

.direction-r .flag:before {
  left: -20px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: #f8f8f8;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 12px;
  color: #f96e5b;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: #f8f8f8;
}

.desc {
  margin: 1em 0.75em 0 0;
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

